<div class="text-right">
  <button class="btn btn-light ml-10" style="font-size: 30px;" (click)="start()"><i class="fa fa-play-circle"></i></button>
  <button class="btn btn-light ml-10" style="font-size: 30px;" (click)="pause()"><i class="fa fa-pause-circle"></i></button>
  <button class="btn btn-light ml-10" style="font-size: 30px;" (click)="resume()"><i class="fa fa-reply"></i></button>
</div>

<div id="readNow"><!--abre div del lector-->
  <div class="container p-2">
    <h2 class="text-center">ESTADISTICAS</h2>
  </div>

  <div class="centrado" style="width: 70%; ">
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    [chartType]="barChartType"></canvas>
  </div>
</div><!--cierra div del lector-->