<div class="text-right">
  <button class="btn btn-light ml-10" style="font-size: 30px;" (click)="start()">
    <i class="fa fa-play-circle"></i>
  </button>
  <button class="btn btn-light ml-10" style="font-size: 30px;" (click)="pause()">
    <i class="fa fa-pause-circle"></i>
  </button>
  <button class="btn btn-light ml-10" style="font-size: 30px;" (click)="resume()">
    <i class="fa fa-reply"></i>
  </button>
</div>

<!--Ancla-->
<p id="ini"></p>

<div id="readNow"><!--abre div lector-->
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" class="des">
    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="presentacion">
      <mat-card-header fxLayoutAlign="center">
        <img src="../../../assets/img/logo6.png" mat-card-lg-image alt="..." />
      </mat-card-header>
      <mat-card-header fxLayoutAlign="center">
        <img src="../../../assets/img/lider.png" class="lider" alt="..." />
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>APROVECHA LAS MEJORES REBAJAS EN NUESTRA SUCURSAL. NO SALGAS DE CASA
          PARA CONOCER NUESTROS MEJORES DESCUENTOS.</mat-card-title>
        <mat-card-subtitle>QUEDATE EN CASA</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>

  <!--Baner_Descuentos actuales-->
  <section class="baner">
    <h2>Descuentos actuales</h2>
  </section>

  <div class="mt-3">
    <app-loading *ngIf="banderaLoading"></app-loading>
  </div>
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" class="des">
    <mat-card fxFlex="calc(20%-25px)" fxFlex.sm="calc(33%-25px)" *ngFor="let item of productos">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title>Descripcion: {{item.descripcion}}</mat-card-title>
        <mat-card-subtitle>Marca: {{item.marca | uppercase}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>${{item.precio}}</p>
        <p>({{item.precio | letras}})</p>
        <p>Existencia: {{item.existencia}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div><!--cierra div lector-->

<!--Icono para llamar a la anlca-->
<section class="ancla_s">
  <a href="#ini"><i class="fa fa-angle-double-up"></i></a>
</section>
