<!--/////////////////////////////////////////Empledaos-->
<!--Dialogo de empleado Creado-->
<div *ngIf="data.estado =='empleado_creado'" class="dialogo_creado">
  <h1 mat-dialog-title>Empleado Creado Exitosamente
    <span class="material-icons">
      check_circle_outline
      </span>
  </h1>
  <hr>
  <div mat-dialog-content class="text-justify">
    <h4>Datos:</h4>
    <p> <strong>Nombre: </strong> {{data.name}}</p>
    <p> <strong>Apellido: </strong> {{data.animal}}</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">OK</button>
  </div>
</div>

<!--Dialogo de empleado no creado-->
<div *ngIf="data.estado =='empleado_no_creado'" class="dialogo_error">
  <h1 mat-dialog-title>Error al crear empleado
    <span class="material-icons">
      info
      </span>
  </h1>
  <hr>
  <div mat-dialog-content class="text-justify">
    <h4>Error:</h4>
    <p> Ha habido un error al crear al empleado.</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">OK</button>
  </div>
</div>

<!--Dialogo de empleado Actualizado-->
<div mat-dialog-content *ngIf="data.estado =='empleado_actualizado'" class="dialogo_actualizado">
  <h1 mat-dialog-title>Empleado Actualizado Exitosamente
    <span class="material-icons">
      autorenew
    </span></h1>
  <hr>

  <div class="text-justify">
    <p>Datos:</p>
    <p> <strong>Nombre: </strong> {{data.name}}</p>
    <p> <strong>Apellido: </strong> {{data.animal}}</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">OK</button>
  </div>
</div>

<!--Dialogo de empleado Eliminado-->
<div *ngIf="data.estado =='empleado_eliminado'" class="dialogo_eliminado">
  <h1 mat-dialog-title>Empleado Eliminado Exitosamente
    <span class="material-icons">
      delete
      </span>
  </h1>
  <hr>
  <div mat-dialog-content class="text-justify">
    <h4>Exito:</h4>
    <p> El empleado ha sido eliminado de la base de datos.</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">OK</button>
  </div>
</div>

<!--/////////////////////////////////////////Productos-->
<!--Dialogo de Productos Creado-->
<div *ngIf="data.estado =='producto_creado'" class="dialogo_creado">
  <h1 mat-dialog-title>Producto Creado Exitosamente
    <span class="material-icons">
      check_circle_outline
      </span>
  </h1>
  <hr>
  <div mat-dialog-content class="text-justify">
    <h4>Datos:</h4>
    <p> <strong>Nombre: </strong> {{data.name}}</p>
    <p> <strong>Apellido: </strong> {{data.animal}}</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">OK</button>
  </div>
</div>

<!--Dialogo de producto no creado-->
<div *ngIf="data.estado =='producto_no_creado'" class="dialogo_error">
  <h1 mat-dialog-title>Error al crear producto
    <span class="material-icons">
      info
      </span>
  </h1>
  <hr>
  <div mat-dialog-content class="text-justify">
    <h4>Error:</h4>
    <p> Ha habido un error al crear al producto.</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">OK</button>
  </div>
</div>

<!--Dialogo de producto Actualizado-->
<div *ngIf="data.estado =='producto_actualizado'" class="dialogo_actualizado">
  <h2 mat-dialog-title>
    Producto Actualizado Exitosamente
    <span class="material-icons">
      autorenew
    </span>
  </h2>
  <hr>

  <div mat-dialog-content class="text-justify">
    <h4>Datos:</h4>
    <p> <strong>Nombre: </strong> {{data.name}}</p>
    <p> <strong>Apellido: </strong> {{data.animal}}</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">OK</button>
  </div>
</div>

<!--Dialogo de producto Eliminado-->
<div *ngIf="data.estado =='producto_eliminado'" class="dialogo_eliminado">
  <h1 mat-dialog-title>Producto Eliminado Exitosamente
    <span class="material-icons">
      delete
      </span>
  </h1>
  <hr>
  <div mat-dialog-content class="text-justify">
    <h4>Exito:</h4>
    <p> El empleado ha sido eliminado de la base de datos.</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">OK</button>
  </div>
</div>
